<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndPointUrl" value="https://contoso-ready.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="X4QULAbPDIb9ByjvwPgcJIr3BpUXTLb3KNjT9KgaPageUFLV0RmmPWmrIgApzoboUayoXAKSbfVTStCiH8El0A==" />
  </appSettings>
</configuration>
